{{ if not .Values.container.separateContainer }}
#########################################################
# API Gateway service
#########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
     {{- include "helm-charts.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "helm-charts.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        {{- include "helm-charts.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secrets: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
    spec:
      containers:
        - name: {{ .Values.container.name }}
          image: {{ .Values.image.repository }}:{{ $.Values.image.tag }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-configmap
            - secretRef:
                name: {{ .Release.Name }}-secret
          env:
            - name: SERVICES
              value: {{ .Values.container.services | join ","}}{{ if .Values.laboratory.enabled }},lab {{ end }}
          {{ if  .Values.lifecycle.postStart.enabled }}
          lifecycle:
            postStart:
              exec:
                command: [{{ .Values.lifecycle.postStart.script | quote }}]
          {{ end }}
      ---
{{ else }}
{{ range .Values.container.services }}
#########################################################
# API Gateway service
#########################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ . }}
  labels:
     {{- include "helm-charts.labels" $ | nindent 4 }}
    service: {{ . | quote }}
spec:
  selector:
    matchLabels:
      {{- include "helm-charts.selectorLabels" $ | nindent 6 }}
      service: {{ . | quote }}
  replicas: {{ $.Values.replicaCount }}
  template:
    metadata:
      labels:
        {{- include "helm-charts.selectorLabels" $ | nindent 8 }}
        service: {{ . | quote }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secrets: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }} 
    spec:
      containers:
        - name: {{ $.Values.container.name }}
          image: {{ $.Values.image.repository }}:{{ $.Values.image.tag }}
          envFrom:
            - configMapRef:
                name: {{ $.Release.Name }}-configmap
            - secretRef:
                name: {{ $.Release.Name }}-secret
          env:
            - name: SERVICES
              value: {{ . }}
---
{{ end }}
{{ end }}